<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), "/prototypes/#{prototype.id}" %>
  <div class="card__body">
    <%= link_to prototype.title, "/prototypes/#{prototype.id}", class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "おれの名を言ってみろ！ #{prototype.user.name}だー！！", user_path(prototype.user_id), class: :card__user %> <%# (prototype.user ./_id どちらでも使える。正しくはカラム内の_%>
  </div>
</div>